[Unit]
#Requires=nginx.service postgresql.service
#Wants=memcached.service
#Before=nginx.service
#After=postgresql.service
Description=Start Tendenci instance "{{ tendenci_install_name }}"
Requires=nginx.service postgresql.service
Wants=memcached.service
Before=nginx.service
After=postgresql.service

[Service]
WorkingDirectory={{ tendenci_website_install_dir }}
PIDFile=/run/{{ tendenci_install_name }}.pid
Type=forking
KillMode=process
Restart=restart-always
ExecStart={{ tendenci_virtualenv_install_dir }}/bin/gunicorn              \
          --group {{ tendenci_run_as_group }}                             \
          --user {{ tendenci_run_as_user }}                              \
          --workers 4                                  \
          --bind={{ tendenci_bind_address }}:{{ tendenci_bind_port }}                        \
          --pid=/run/{{ tendenci_install_name }}.pid                \
          --pythonpath={{ tendenci_website_install_dir }}         \
          --access-logfile="{{ tendenci_website_log_dir }}/{{ tendenci_install_name }}.access.log" \
          --error-logfile="{{ tendenci_website_log_dir }}/{{ tendenci_install_name }}.error.log" \
          --capture-output                              \
          --daemon                                     \
         conf.wsgi

[Install]
WantedBy=multi-user.target

