[Unit]
Description=Start Tendenci instance "{{ install_name }}"
Requires=nginx.service postgresql.service
Wants=memcached.service
Before=nginx.service
After=postgresql.service

[Service]
WorkingDirectory={{ website_install_dir }}
PIDFile=/run/{{ install_name }}.pid
Type=forking
KillMode=process
Restart=restart-always
ExecStart={{ virtualenv_install_dir }}/bin/gunicorn              \
          --group {{ tendenci_run_as_group }}                             \
          --user {{ tendenci_run_as_user }}                              \
          --workers 4                                  \
          --bind={{ tendenci_bind_address }}:{{ tendenci_bind_port }}                        \
          --pid=/run/{{ install_name }}.pid                \
          --pythonpath={{ website_install_dir }}         \
          --error-logfile=/var/log/{{ install_name }}.error \
          --daemon                                     \
         conf.wsgi 

[Install]
WantedBy=multi-user.target

