[Unit]
Description=Start Tendenci instance
Requires=nginx.service postgresql.service
Wants=memcached.service
Before=nginx.service
After=postgresql.service

[Service]
WorkingDirectory={{ website_install_dir }}
PIDFile=/run/tendenci.pid
Type=forking
KillMode=process
Restart=restart-always
ExecStart={{ virtualenv_install_dir }}/bin/gunicorn              \
          --group www-data                             \
          --user www-data                              \
          --workers 4                                  \
          --bind=127.0.0.1:8000                        \
          --pid=/run/tendenci.pid                \
          --pythonpath={{ website_install_dir }}         \
          --error-logfile=/var/log/tendenci.error \
          --daemon                                     \
         conf.wsgi 

[Install]
WantedBy=multi-user.target

